* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

.navigation {
	display: flex;
	justify-content: space-between;
}


header {
	background-color: #afeddb;
	padding: 26px 19px 62px;
}

.res-guide {
	display: none;
}

.top-title {
	background: #082B48;
	color: #fff;
	font-size: 8rem;
	font-weight: bold;
	display: inline;
	padding: 10px 0;
}

.daytra {
	font-size: 4rem;
	list-style: none;
	font-weight: bold;
}

.from {
	font-size: 1.8rem;
	font-weight: bold;
	margin-left: 1.2em;
}

.signup {
	font-size: 1.8rem;
	line-height: 70px;
	border: solid 2px #082B48;
	list-style: none;
	padding: 0 10px;
	font-weight: bold;
}

.sub-title {
	color: #000;
	font-size: 5.4rem;
	margin-top: 1em;
}

.check-course {
	width: 30%;
	font-size: 3.2rem;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: linear-gradient(80deg, #a028fb, #ec6d64);
	padding: 50px;
	border-radius: 150px;
	margin-top: 5em;
}

.check-course:after {
	content: "";
	display: inline-block;
	height: 15px;
	width: 15px;
	border-top: solid 3px #fff;
	border-right: solid 3px #fff;
	transform: rotate(45deg) translate(0.8em, -0.9em);
	transition: border-color 0.2s;
}

.apply {
	width: 30%;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: linear-gradient(80deg, #a028fb, #ec6d64);
	padding: 26px 20px 26px 0;
	border-radius: 150px;
	margin-top: 10em;
}

.about-content {
	padding: 100px 0;
	text-align: center;
}

/*about*/


.common-title:after {
	content: '';
	display: block;
	height: 12px;
	left: 0;
	margin: 0 auto;
	right: 0;
	margin-top: 1em;
	width: 36px;
	background: linear-gradient(to right, #a028fb, #ec6d64);
	border-radius: 20px;
}

.common-title {
	font-size: 4.4rem;
	color: #082B48;
	text-align: center;
	margin: 2em 0;
}

.about-txt {
	width: 80%;
	font-size: 4.8rem;
	color: #fff;
	background-color: #082B48;
	text-align: center;
	font-weight: bold;
	display: inline;
	padding: 10px 0;
	line-height: 100px;
	margin-bottom: 2em;
}

.step-list {
	width: 90%;
	margin: 0 auto;
	max-width: 300px;
}

.step {
	font-size: 2.1rem;
	font-weight: bold;
	margin: 1em 0;
	color: #082B48;
}

.step-box {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
	margin-bottom: 5em;
}

.step-img {
	height: 200px;
	max-height: 200px;
	background-color: bisque;
	margin-top: 8em;
}

.step-inner {
	font-size: 1.7rem;
	color: #082B48;
	text-align: initial;
	line-height: 1.7em;
	letter-spacing: 2px;
}


/*course*/
.course-list-box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;
	background-color: #afeddb;
	padding-bottom: 10em;
	padding-top: 20em;
}

/*.course-box {}*/

.swiper-container {
	background-color: #afeddb;
	padding: 100px 0 !important;
	margin: 8em 0 !important;
	margin: 0 auto !impotant;

}


.course-list {
	display: flex;
	flex-wrap: wrap;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 10em;
	padding: 50px 20px;
	background-color: #fff;
	box-shadow: 10px 11px 0 #dbdbdb;
	border-radius: 30px;
}

.course-img {
	width: 25%;
	border: solid 1px;
	margin-right: 2em;
}

.course-name {
	font-size: 2.4rem;
	font-weight: bold;
	margin-bottom: 0.5em;
}


.course-txt {
	font-size: 1.5rem;
	text-align: initial;
	margin-top: 2em;
	margin-bottom: 3em;
}

.detail {
	font-size: 1.8rem;
	padding: 20px 50px;
	background-image: linear-gradient(to right, #a028fb, #ec6d64);
	border-radius: 50px;
	position: relative;
	margin: 0 auto;
	/*	width: 70%;*/
}


/*features*/
.features-box {
	display: flex;
	max-width: 880px;
	margin: 0 auto;
	margin-bottom: 3em;
	width: 98%;
}

.features-list {
	margin: 0 auto;
	width: 80%;
}

.features-item-title {
	font-size: 1.8rem;
	font-weight: bold;
	color: #082B48;
	text-align: initial;
	margin-bottom: 0.5em;
}

.features-img {
	width: 120px;
	height: 120px;
	line-height: 120px;
	border-radius: 70%;
	border: solid 1px;
	margin-right: 3em;
	background-color: beige;
}

.features-txt {
	font-size: 1.6rem;
	text-align: initial;
	line-height: 1.8;

}

.result-content {
	background-color: #ec6d64;
	padding: 100px 0;
}


/*compartion*/
.comparison-content {
	margin: 15em 0;
}

.company-list {
	width: 1320px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin: 0 auto;
	margin-bottom: 3em;

}

.company-item {
	list-style: none;
	font-size: 3.2rem;
	font-weight: bold;
	margin-left: 2em;
}

.company-item:nth-child(3) {
	color: #1ea0ff;
}


.fee-list {
	width: 1320px;
	background-color: #e2e8f0;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	margin-bottom: 1em;
	border-radius: 100px;
}

.fee-item {
	font-size: 2rem;
	font-weight: bold;
	color: #082B48;
	/*	padding: 16px;*/
	padding: 10px 24px;
}

.fee-item:nth-child(3) {
	margin-left: 2em;
}

.daytra-item {
	background: #a028fb;
	border: solid 2px #082B48;
	border-radius: 100px;
	font-size: 2rem;
	color: #fff;
	padding: 8px 24px;
}

/*history*/
.history-content {
	background-color: #1da1f2;
	margin-bottom: 10em;
	padding-bottom: 100px;
	margin-top: 10em;
}

.history-box {
	width: 60%;
	padding: 15px 0;
	margin-left: 10em;
	text-align: initial;
}

.history-title:after {
	content: '';
	display: block;
	height: 12px;
	width: 36px;
	background: #fff;
	border-radius: 20px;
	margin-top: 0.5em;
	opacity: 0.7;
}

.history-title {
	font-size: 3.8rem;
	color: #fff;
	margin: 1em 0;
}

.history-txt {
	font-size: 2rem;
	color: #fff;
	margin-bottom: 1.5em;
	letter-spacing: 0.2rem;
}

.important-txt {
	font-size: 1.8rem;
	color: #EC6D64;
	background-color: #feecca;
	display: inline;
	font-weight: bold;
	font-size: 2rem;
}

/*faq*/
.article-title {
	padding: 22px 20px 18px;
	color: #082B48;
	font-size: 1.8rem;
	position: relative;
}

.accordion-container {
	width: 50%;
	margin: 0 auto;
	box-shadow: 0 3px 34px rgba(8, 43, 72, 0.15);
	margin-bottom: 2em;
	border-radius: 50px;
	padding: 10px;
}

.accordion-content {
	font-size: 1.5rem;
	padding: 22px 20px 18px;
	text-align: initial;
	display: none;
	border-top: solid 1px #e2e8f0;
}

.article-title {
	position: relative;
	display: flex;
	text-align: initial;
}

.q {
	margin-right: 1em;
	font-weight: bold;
}

.anser {
	font-weight: bold;
	font-size: 1.8rem;
	margin-right: 1em;
}

.anser-txt {
	display: flex;
}

.article-title:after {
	content: "";
	position: absolute;
	right: 25px;
	top: 38%;
	transition: all 0.2s ease-in-out;
	display: block;
	width: 8px;
	height: 8px;
	border-top: solid 2px #000;
	border-right: solid 2px #000;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}

.article-title.open:after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 45%;
}

a {
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}

.swiper-slide {
	background-color: #fff;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	box-shadow: 10px 11px 0 #dbdbdb;
	border-radius: 50px;
	padding: 24px 20px 40px;
	box-sizing: border-box;
}

.swiper-container {
	background-color: #afeddb;
	padding: 100px 0 !important;
	margin: 8em 0 !important;
	margin: 0 auto !impotant;
}

.course-img {
	width: 75px;
	height: 75px;
	border-radius: 50px;
	line-height: 75px;
	border: solid 1px;
}

.course-name {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.2;
}

.course-txt {
	text-align: initial;
	margin: 2em 0;
}


.unpublished {
	background-color: #e2e8f0;
	font-size: 1rem;
	padding: 20px 50px;
	border-radius: 50px;
	margin: 0 auto;
	width: 70%;
}

.detail {
	font-size: 1rem;
	padding: 20px 50px;
	background-image: linear-gradient(to right, #a028fb, #ec6d64);
	border-radius: 50px;
	position: relative;
	margin: 0 auto;
	width: 70%;
}

.course-price {
	font-size: 3.2rem;
	font-weight: bold;
	text-align: initial;
}

.tax {
	font-size: 1rem;
	font-weight: 100;
}


.detail:after {
	content: "";
	display: inline-block;
	height: 8px;
	width: 8px;
	border-top: solid 2px #fff;
	border-right: solid 2px #fff;
	transform: rotate(45deg) translate(0.8em, -0.9em);
	transition: border-color 0.2s;
}

.detail:hover > .course-box {
	color: #a028fb;
	background-image: none;
	box-shadow: 10px 11px 0 red;
}


/*footer*/
footer {
	background-color: #242A36;
	color: #e2e8f0;
	font-size: 1.3rem;
}

.footer-nav {
	width: 75%;
	display: flex;
	justify-content: space-between;
	font-size: 1.3rem;
	margin: 0 auto;
	padding: 50px 0;
}

.about-company-item {
	margin-bottom: 1em;
}

.fa-twitter {
	margin-right: 1em;
	margin-top: 0.5em;
}

.footer-img {
	font-size: 2rem;
}

.copyright {
	text-align: center;
	padding-bottom: 50px;
}

.res-active {
	display: none;
}

.res-line {
	display: none;
}

.swiper-pagination {
	display: none;
}

/*レスポンシブ*/
@media screen and (max-width:768px) {
	nav {
		padding: 10px;
	}

	.from {
		display: block;
		margin-left: 0;
		margin-bottom: 1.5em;
	}

	.signup {
		height: 70px;
		line-height: 70px;
	}

	.check-course {
		width: 70%;
		margin-top: 2em;
	}

	.about-txt {
		font-size: 4.6rem;
	}

	.res-none {
		display: none;
	}

	.course-name {
		font-size: 2.1rem;
		font-size: 2.1rem;
	}

	.common-title {
		margin: 1em 0;
	}

	.course-list-box {
		padding-bottom: 0;
	}

	.history-box {
		margin-left: 0.5em;
		width: 80%;
	}

	.history-txt {
		font-size: 1.9rem;
	}

	.swiper-slide {
		width: 50% !important;
	}

	.accordion-container {
		width: 80%;
	}


}

@media screen and (max-width:480px) {
	.check-course {
		font-size: 2rem;
	}

	.signup {
		display: none;
	}

	.daytra {
		font-size: 2rem;
	}

	.top-title {
		font-size: 3.2rem;
		line-height: 60px;
	}

	.from {
		font-size: 13px;
	}

	.sub-title {
		font-size: 2rem;
	}

	.res-line {
		display: block;
	}

	.res-none {
		display: block;
	}

	.res-point {
		display: none;
	}

	.res-guide {
		display: block;
		text-align: center;
		font-size: 1.6rem;
		font-weight: bold;
		margin-top: 2rem;
		text-decoration: underline;
		padding-bottom: 5em;
	}

	.check-course {
		width: 90%;
		font-size: 2rem;
		padding: 20px;
	}

	.check-course:after {
		content: "";
		display: inline-block;
		height: 10px;
		width: 10px;
		border-top: solid 3px #fff;
		border-right: solid 3px #fff;
		transform: rotate(45deg) translate(0.8em, -0.9em);
		transition: border-color 0.2s;
	}

	.article-title.open:after {
		top: 85%;
	}

	.common-title {
		font-size: 2.4rem;
	}

	.about-txt {
		font-size: 2.4rem;
		line-height: 50px;
	}

	.step-box {
		display: block;
	}

	.course-list-box {
		display: block;
		padding-bottom: 5em;
		padding-top: 10em;
	}

	.features-box {
		display: block;
	}

	.features-img {
		width: 100px;
		height: 100px;
		border-radius: 50px;
		border: solid 1px;
		margin: 0 auto;
		line-height: 100px;
	}

	.features-item-title {
		margin: 1em 0;
	}

	.history-box {
		margin: 0 auto;
	}

	.history-title {
		font-size: 3.2rem;
	}

	.article-title {
		padding-bottom: 50px;
	}

	.article-title:after {
		right: 50%;
		top: 70%;

	}

	.accordion-container {
		width: 90%;
	}

	.swiper-slide {
		width: 80% !important;
		margin: 0px 10%;
		/*		max-width: 300px !important;*/
		box-shadow: 10px 11px 0 #a028fb;
		display: block;
		box-sizing: border-box;

	}

	.article-title:after {
		transform: rotate(-45deg);
	}

	.article-title.open:after {
		transform: rotate(135deg);
	}

	.res-active {
		display: block;
	}

	.course-img {
		width: 90px;
		height: 90px;
		border-radius: 50px;
		line-height: 90px;
		margin: 0 auto;
		margin-bottom: 2em;
	}

	.course-price {
		text-align: center;
	}

	.unpublished {
		width: auto;
	}

	.footer-nav {
		display: block;
	}

	.footer-img {
		margin-top: 1em;
	}

	.swiper-pagination {
		display: block;
	}

	.detail {
		width: 55%;
	}
}
